{{#section 'title'}}
    
{{/section}}

<div>
	<h2 style="color: green; text-align: center"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"><span style="font-family: Arial; margin: 0 0; padding: 0 0;">&nbsp;{{successMsg}}</span></span></h2>
</div>