{{#section 'title'}}
    <b>Add category</b>
{{/section}}

{{#if showAlert}}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>OK!</strong> Category added.
</div>
{{/if}}

<form action="" method="POST" role="form">
	<div class="form-group">
		<label for="">Category Name</label>
		<input type="text" class="form-control" id="" name="CatName" placeholder="Input field">
	</div>
	<a class="btn btn-default" href="/category" role="button">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back
	</a>
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-ok"></span>
		Add
	</button>
</form>