{{#section 'title'}}
	About Us
{{/section}}

<div style="padding: 5px 10px; text-align: center">
	<h2 style="color: red">ĐỒ ÁN CUỐI KÌ</h2>
	<h3 style="color: red">Web quản lý bán hàng</h3>
	<br>
	<p style="color: blue; font-size: 16px">Nhóm 14<p>
	<p style="color: blue; font-size: 16px">MSSV: 1512366<p>
	<p style="color: blue; font-size: 16px">Tên: Huỳnh Nguyễn Thiện Nhân<p>
</div>